<div class="container2 mt-4">
<div class="container1 pt-5 pb-5">
    <div class="row ">
        <div class="col-3">
            <p class="titre">AUDACE</p>
            <p class="par pt-3">
                créée en 2019, audace a réussit de s’identifiée comme
                 une société de gamme en terme de services de transport national et international ainsi que toutes prestations logistiques.
            </p>
        </div>
        <div class="col-3">
            <p class="titre">QUICK LINK</p>
            <p class="par pt-3">Home</p>
           <p class="par">Qui Somme Nous</p>
           <p class="par">Nous Servise</p>
           <p class="par">Contactez Nous</p>

        </div>

        <div class="col-3">
            <p class="titre">CONTACT</p>
            <p class="par pt-3">11 Rue Sahel Radés Saline 2040 -Radés</p>
           <p class="par">Fix :(+216) 31 527 474</p>
           <p class="par">Tele :(+216) 22 749 644</p>
           <p class="par">Mail : Audace.Logistique@Gmail.Com</p>

        </div>

        <div class="col-3">
            <p class="titre pb-3">MAP</p>
            <google-map 
            height="200px"
            width="75%"
            ></google-map>

        </div>
    </div>


</div>
</div>