<div class="container col-9">

 
                    <div class="card  border-0 rounded ">
                        <div class="card-header border-0" style="background-color: white;" >
                            <div class="d-flex justify-content-between ">
                         <div class="mt-3">   <h4 style="font-weight: bold"> Liste of product</h4></div>
                                <button type="button" class="btn btn-outline-primary mt-4  col-3" style="height: 50px;font-weight: bold;" routerLink="/dashbord/ajouter" ><i class="fa fa-plus mr-3"></i> Add</button>

</div>          

            
</div>
    <div class="card-body">
     
            <table class="table table-hover">
                <thead class="">
                    <th>
                        Name & categorie  
                    </th>

                    <th>
                    Prix
                    </th>
                    <th>
                        stocke
                    </th>
                    <th>
                        matriel
                    </th>
                    <th>
                        dimantion 
                    </th>
                    <th>
                        Action

                    </th>

                
                </thead>
               
                    <tbody>
                        <ng-container *ngFor="let t of tab_produit ">
                     
                        <tr>
                            <td style="cursor: pointer;" [routerLink]="['/produit',t.id]">
                        <div class="row">
                        <div class="col-4">
                           
                        <span><img src={{t.image}}
                            alt="" width="50px" height="50ox" />  
                            
                            </span>
                       
                        </div>
                            <div class="col-8">
                                <a class="titre1 " style="     font-family: Verdana, Geneva, Tahoma, sans-serif;
                                " > {{t.nom}} </a>
                            
                        <br> <a class="titre2" style="color: gray;">{{t.categorie}}  </a></div>
                        </div>
                    
                    </td>
                    <td>
                    {{t.prix}}

                    </td>                                           
                    <td>
                       {{t.quanite}} 

                    </td>
                    <td>
                        {{t.matriel}}

                    </td>
                
                    <td>
                       {{ t.dim}}
                    </td>
                    <td>
                    <div class="row">                                               
                        <button class="btn2 btn-outline-warning " routerLink="/modifier/{{t.id}}"><i class="fa fa-refresh"  ></i></button>
                        <button class="btn2 btn-outline-danger" (click)="detetProduit(t.id)"><i class="fa fa-trash" ></i></button>
                        
                        </div>
                    </td>
                    
                </tr>
                
            </ng-container>
 
            </tbody>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    
                </td>
                <td>
                    <button type="button" class="btn btn-outline-info btn-sm " style="margin-right: 5px" (click)="preview()">Preview</button>
                    <button type="button" class="btn btn-primary btn-sm"    (click)="next()">   Next   </button>
                  
                </td>

                
            </tr>
            
        </table>
                    </div>
                </div>
            </div>

  


