.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image {
    
      vertical-align: middle;
    }
    .badge{border-radius: 50px;}
    .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
   
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .text{
    color: red;
  }
  .c5{
    text-decoration: none;
    color: black;
  }
  .c4{
    text-decoration: none;
    color: red;
  }
 
.titre1{
    text-align: left;
}


  .btn2{
    
    border: none;
    padding: 8px 10px; 
    font-size: 14px; 
    cursor: pointer; 
  }
  .btn {
    height: 30px;
    width: 80px;
  }
  .btn1 {
    height: 30px;
    width: 80px;
    background-color: aliceblue;
    color: gray;
    border:cornsilk;
  }
  
  .btn0 {
    padding: 12px 16px; 
    font-size: 16px; 
    cursor: pointer; 
    text-align: center;


  }
 