
        
         <p class="img  mt-5"><img src="assets\image\pexels-pixabay-462235.jpg"  class="img mt-5"  alt="img"></p>


<img src="assets\image\Grille de répétition 1.png" class="bg">

    <div class="box">
    <p class="titre">Ce qui nous distingue </p>
    <p class="par mt-4">WorkOf supports and showcases contemporary furniture designers. We connect you directly with the best independent brands to discover and shop the world's most exceptional products, all in one place. </p>
    
        <div class="d-flex flex-row-reverse">
            <button type="button" class="btn1 mt-3">Read More</button>

          </div>
    </div>
    