<app-nav></app-nav>

<div class="container1">
    <ng-container *ngFor="let t of donne">
        <div class="row">

    <div class="col-6">
        <img src="assets\image\im.jpg" class="grand">

    </div>
    <div class="col-6">
        <p class="titre"> {{t.nom}}</p>
        <P class="titre"> {{t.prix}} DT</P>
        <div class="row pt-3">
            <div class="col-4">
                QUANTITY
             
        <div class="form-group   pt-4 col-10" >
           <input  type="number"  class="form-control ml-0"   [(ngModel)] = "q" min="1" /> 
        
          </div>


        </div>
          <div class="col-4">
            UNIT PRICE
            <br/>
            <div class="sous pt-4">{{t.prix}} DT</div> 

          </div>
          <div class="col-4">
            SUBTOTAL <br/>
           <div class="sous pt-4"><b>{{q*t.prix}} DT</b></div> 
           
          </div>
          <button type="button"  class="btn1">ADD TO CART</button>
       <div class="col-6 pt-4">
         <div class=" "><b>Lead time: 4 weeks</b> </div>
        <div class="titre1 pt-3">PRODUCT DIMENSIONS</div>
        <div class="pt-3">{{t.dim}}</div>
        <div class="titre1 pt-3">PRODUCT MATERIALS        </div>
        <div class="pt-3">{{t.matriel}}</div>
       </div>
     
        </div>
    </div>
      
    </div>
    </ng-container>

