<header class="navbar navbar-brigh1 navbar-fixed-top  border-bottom" role="banner">

    
      <a class="navbar-brand" href="#">
        <img src="assets\image\Logo Tunisia Art Market (1).png" class="logo"alt=""  width="187" height="68px"> 
       
      </a>
  
    <ul class="nav justify-content-end">
      
      <li class="nav-item">
        <a class="nav-link active" aria-current="page"  [routerLink]="['/accueil']" >A Propres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/more/decoration">Décoration</a> 
  
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/more/meuble">Meubles</a> 
      </li>
      
    
      <li class="nav-item">
        <a class="nav-link"   href="/more/vetement">Vêtements</a> 
  
      </li>
      <li class="nav-item">
        <a class="nav-link p1 "  href="/more/accessoire">Accessoires </a> 
  
      </li>
      
      
      <li class="nav-item ">
        <a class="nav-link" ><img class="im" [routerLink]="['/panier']" src="assets\image\shopping-cart.svg"></a> 
      </li>
      
      <li class="nav-item mr-5">
        <a class="nav-link" > <img class="im" [routerLink]="['/login']" src="assets\image\user.svg" ></a> 
  
      </li>
        </ul>
    
        

    </header>
