

<!--<ngx-charts-pie-chart 
    [results]="saleData"
    [legend]="true"
    [legendTitle]="'Product Sale Report'" 
    [view]="[1000,500]"
    [labels]="true" >
</ngx-charts-pie-chart>-->




<div style="background-color: #EDF2F9;" >

    <div class="container col-9 pt-5 " >
    
        <div class="card  border-0 rounded " >
            <div class="card-header border-0" style="background-color: #F6F9FC" >
         
        
        <div class="titre "><h1>Welcome Admin</h1> </div>
        
        
        <div class="titre1 mt-3">Here’s what happening with your store today </div>
        <div class="row ">
        
        <div class="col-4 titre1">
            <div class="mt-3">today visite</div>
        <div class="mt-3"><b style="font-size: 25px;">54584</b></div>
        </div>
        <div class="col-4 titre1">
            <div class="mt-3">Today’s total sales
        
            </div>
        <div class="mt-3"><b style="font-size: 25px;" >54584</b></div>
        </div>
        <div class="col-4 ">
        
        <p class="img  "><img src="assets\image\dizzy-data-analysis-with-monitor-graphs-and-magnifier-1.png"  class="img " height="100%" width="100%" alt="img"></p>
        
        
        </div>
    </div>
    </div>
    <div class="card-body" >

        <div class="row pt-3  ">
        
            <div class="pp1 col-6 p-2 " style="color: #B26C30;"  >
                <b >5 products</b> didn’t publish to your Facebook page
         </div>
         <div class="href1 col-6  ">
        
            <a href=""> View products  </a>   </div>
            <hr class="ligne"/>
        </div>
        
        
        <div class="row ">
            <div class="col-6 pp2 p-2 " >
                <b >7 orders</b> have payments that need to be captured
        
            </div>
         <div class=" href2 col-6 p-2  ">
        
            <a href="">View payments </a>     </div>
            <hr class="ligne"/>
        </div>
        
        
        <div class="row">
        
        <div class="col-6 pp3 p-2 " >
            <b > 50+ orders </b> to be fulfilled
        
        </div>
        <div class="href3 col-6  ">
        
        
            <a href="" class="p-2">View orders  </a>  
        
          </div>
          <hr class="ligne"/>
        
        
        </div>
        
        
        </div>
     
        </div>
        </div>
        
        
        


    <app-tab-produit></app-tab-produit>

<app-tab-commande></app-tab-commande>