.container2{
    background-color: #F5F5F5;
    padding-left: 50px;
    padding-right: 50px;
}


.titre{
    font: normal normal bold 30px/30px Lato;
    color:black;
}
.par{
    padding-right: 0px;
font: normal normal normal 15px/20px ;
letter-spacing: 0px;
color: #707070;
transition: 0.5s;

}
.par:hover{
color:black;
cursor: pointer;
padding-left: 10px;

}

.button1 {
    background-color:#F5F5F5 ;
    border: 1px solid #000000;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 0px;
  }
  .button1:hover{
      color:white;
      background-color: black;
  }
 
.titre1{
    font-size: 35px;
    color:black;
    font-weight: bold;
}

.form-control{
    background-color: #F5F5F5;
    padding-left: 30px;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    resize: none;
    border-style:solid;
}
.form-control:focus{
    border: 1px solid black;
    color: black;
    box-shadow: none !important;
}
.form-group{
    padding-left: 0px;
}