.container1{
    margin-left: 150px;
    margin-right: 150px;
}
.titre3{
    letter-spacing: 1.9px;
color: #000000;
text-transform: capitalize;
font-size:45px;
font-weight: bold;
}
.centre {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}