.soustitre3{
    padding-top: 10px;
    font-size: 20px;
}
.soutitre2{
    font-size: 18px;
font-weight: bold;
}
.soustitre3:hover{
    text-decoration:underline;
    cursor: pointer;
}

.hero{
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hero:hover{
   cursor: pointer;
    opacity: .5;
}




/*.hover11 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover11 figure:hover img {
	opacity: .5;
}*/