<app-nav></app-nav>
<div class="container">
    <h2 class="text-center pt-5 pb-5 titre3">CUSTOMER ZONE</h2>
    
  
        <div class="par5" >Phone Number</div>
        <div class="form-group col-6 ">
            <input type="phone"    class="form-control ml-0 " id="inputobjet"[(ngModel)] = "phone" >
          
          </div>
          <div class="par5" >Email address</div>
          <div class="form-group col-6 ">
              <input type="email" class="form-control ml-0 " id="inputobjet"[(ngModel)] = "email" >
            </div>
          <div class="par5">Password</div>
          <div class="form-group col-6 ">
              <input type="password" #objet class="form-control ml-0" id="inputobjet" [(ngModel)] = "password" >
            </div>
            <div class="par5" >name</div>
            <div class="form-group col-6 ">
                <input type="text" #objet class="form-control ml-0 " id="inputobjet"[(ngModel)] = "name" >
              </div>
            
            <button   class="btn1 "  (click)="ajouter()" >REGISTRE</button>
           

      
</div>


